body{
  font-family: 'Roboto Condensed', helvetica, sans-serif;
}

/*entire search bar*/
.input{
  border-radius: 1.5em;
  border: 1px solid #DCDCDC;
  width: 50%;
  padding: 1% 0 1% 1%;
  margin: auto; /*centers it*/
  background-color: #f2f2f2;
  text-align: center;
  color: #4D4D4D;
  /*display: inline-block;*/
}

/*where you type in the city for the search bar*/
input#city{
  border-radius: .75em;
  border: 1px solid #808080;
  padding-left: 2%;
  font-size:.75em; 
}

/*styling for the search button*/
button#submit{
  font-family: 'Roboto', helvetica, sans-serif;
  background-color: #fff; 
  color: #808080;
  border-radius: .2em;
  border: 1px solid #808080;
  padding: 0.5% 1% 0.5% 1% ; /*top right bottom left */
  text-align: center;
  font-size: .75em;
  font-weight: 800;
  text-align: center;
}

/*for the introductory text */
p#intro{
  background-color: transparent;
  font-size: 1.8em;
  padding: 1%;
  width: 80%;
  margin: auto;
  text-align: center;
}

/*City Name */
h1{
  font-family: 'Roboto', helvetica, sans-serif;
  background-color: transparent;
  color: #696969;
  padding: 2% 1% 2% 1.5%;
  font-size: 1em;
  text-transform: uppercase;
  /*position: fixed;*/
  text-align: center;
  margin-left: 1%;
}

/*Temperature Big Number */
h2{
  font-family: 'Roboto Condensed', helvetica, sans-serif;
  background-color: transparent;
  color: #696969;
  padding: 2% 1% 2% 1.5%;
  font-size: 4em;
  /*position: fixed;*/
  text-align: right;
  margin-left: 1%;
}

/* Temperature Text/heading */
h3{
  font-family: 'Roboto', helvetica, sans-serif;
  background-color: transparent;
  font-weight: 300;
  color: #696969;
  padding: 2% 1% 2% 1.5%;
  text-transform: uppercase;
  font-size: .8em;
  /*position: fixed;*/
  text-align: right;
  margin-left: 1%;
}

/* Wind/clouds/humidity text + readings */
h5{
  background-color: transparent;
  color: #696969;
  padding: 2% 1% 2% 1.5%;
  font-size: 1.1em;
  text-align: right;
  margin-left: 1%;
}

/* What to wear / about the weather */
h4{
  font-family: 'Roboto Condensed', helvetica, sans-serif;
  background-color: transparent;
  font-weight: 300;
  color: #800080;
  padding: 2% 1% 2% 1.5%;
  font-size: 1.2em;
  /*position: fixed;*/
  text-align: left;
  width: 25%;
  margin-left: 1%;
}