/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

body{
    font-family: 'Roboto Condensed', helvetica, sans-serif;
}

.input{
    border-radius: .75em;
    border: 1px solid black;
}

input#city{
    border-radius: .75em;
    border: 1px solid #808080;
}

/*styling for the search button*/
button#submit{
    font-family: 'Roboto', helvetica, sans-serif;
    background-color: #fff; 
    color: #808080;
    border-radius: .75em;
    border: 1px solid #808080;
    padding: 0.5% 1% 0.5% 1% ; /*top right bottom left */
    text-align: center;
    font-size: .75em;
    font-weight: 800;
}

div.title{
    width: 100%;
    height: 100%;
}


h1{
    font-family: 'Roboto', helvetica, sans-serif;
    background-color: #fff; 
    color: #808080;
    border-radius: .75em;
    border: 1px solid #808080;
    padding: 0.5% 1% 0.5% 1% ; /*top right bottom left */
    text-align: center;
    font-size: .75em;
    font-weight: 800;
}