/* general style*/

body{
    font-family: 'Roboto Condensed', helvetica, sans-serif;
}

.containerPage {
    position: relative;
    padding: 4% 0 0 14.75%;
    height: 100%;
    width: auto;
    overflow-x: hidden;
}

h1{
    color: #C70039;
    font-weight: 500;
    font-size: 3.5em;
    text-align: left;
    margin: auto;
    float: left;
}

h2{
    color: #800024;
    font-weight: 300;
    font-size: 3em;
    text-align: right;
    margin-left: 1em;
    border-right: double;
    width:75%;
}

h3{
    color: #A9A9A9;
    font-size: 1.5em;
    font-weight: 300;
    max-width: 100%;
    text-align: center;
    margin: .1% auto auto auto;
}

p.bioText {
    font-weight: 150;
    font-size: 1em;
    line-height: 130%;
    text-align: left ;
}

.bioText {
    width: 66%;  
    margin-left: 3em;
    
}

.About {
    background-color: #C70039;
}

.bodyText{
    color: white;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 15%; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 3%; /* Place content x from the top */
    list-style-type: none; /* removes bullets from the side bar*/
    border-right: .2em solid #A9A9A9;
}

/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    padding-top: 10%; /*padding for the list*/
    font-size: 1em;
    color: #A9A9A9;
    display: block;
    text-align: center;
}

#logo {
    width: 25%;
    padding: 15% 0 20% 0; /* top | right | bottom | left; padding for just hte logo */
    margin: auto;
    width: 50%;
    display: block;
    opacity: 0.5;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #000;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}